/* IT for Change  fonts */

// Bitter font

@font-face{
     font-family: 'BitterRegular';
    src: url("../fonts/Bitter/static/Bitter-Regular.ttf");
    src: local("BitterRegular"),
         url("../fonts/Bitter/static/Bitter-Regular.ttf") format("truetype");
}

@font-face{
    font-family: 'BitterBlack';
    src: url("../fonts/Bitter/static/Bitter-Black.ttf");
    src: local("BitterBlack"),
         url("../fonts/Bitter/static/Bitter-Black.ttf") format("truetype");
}

@font-face{
    font-family: 'BitterBlackItalic';
    src: url("../fonts/Bitter/static/Bitter-BlackItalic.ttf");
    src: local("BitterBlackItalic"),
         url("../fonts/Bitter/static/Bitter-BlackItalic.ttf") format("truetype");
}

@font-face{
    font-family: 'BitterBold';
    src: url("../fonts/Bitter/static/Bitter-BlackItalic.ttf");
    src: local("BitterBold"),
         url("../fonts/Bitter/static/Bitter-BlackItalic.ttf") format("truetype");
}

@font-face{
    font-family: 'BitterBoldItalic';
    src: url("../fonts/Bitter/static/Bitter-BlackItalic.ttf");
    src: local("BitterBold"),
         url("../fonts/Bitter/static/Bitter-BlackItalic.ttf") format("truetype");
}

@font-face{
     font-family: 'BitterExtraBold';
     src: url("../fonts/Bitter/static/Bitter-ExtraBold.ttf");
    src: local("BitterExtraBold"),
         url("../fonts/Bitter/staticBitter-ExtraBold.ttf") format("truetype");
}

@font-face{
     font-family: 'BitterExtraBoldItalic';
    src: url("../fonts/Bitter/static/Bitter-ExtraBoldItalic.ttf");
    src: local("BitterExtraBoldItalic"),
         url("../fonts/Bitter/static/Bitter-ExtraBoldItalic.ttf") format("truetype");
}

@font-face{
     font-family: 'BitterExtraLight';
    src: url("../fonts/Bitter/static/Bitter-ExtraLight.ttf");
    src: local("BitterExtraLight"),
         url("../fonts/Bitter/static/Bitter-ExtraLight.ttf") format("truetype");
}

@font-face{
     font-family: 'BitterExtraLightItalic';
    src: url("../fonts/Bitter/static/Bitter-ExtraLightItalic.ttf");
    src: local("BitterExtraLightItalic"),
         url("../fonts/Bitter/static/Bitter-ExtraLightItalic.ttf") format("truetype");
}

@font-face{
     font-family: 'BitterItalic';
    src: url("../fonts/Bitter/static/Bitter-Italic.ttf");
    src: local("BitterItalic"),
         url("../fonts/Bitter/static/Bitter-Italic.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterLight';
    src: url("../fonts/Bitter/static/Bitter-Light.ttf");
    src: local("BitterLight"),
         url("../fonts/Bitter/static/Bitter-Light.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterLightItalic';
    src: url("../fonts/Bitter/static/Bitter-LightItalic.ttf");
    src: local("BitterLightItalic"),
         url("../fonts/Bitter/static/Bitter-LightItalic.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterMedium';
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
    src: local("BitterMedium"),
         url("../fonts/Bitter/static/Bitter-Medium.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterMediumItalic';
    src: url("../fonts/Bitter/static/Bitter-MediumItalic.ttf");
    src: local("BitterMediumItalic"),
         url("../fonts/Bitter/static/Bitter-MediumItalic.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterSemiBold';
    src: url("../fonts/Bitter/static/Bitter-SemiBold.ttf");
    src: local("Bitter-SemiBold"),
         url("../fonts/Bitter/static/Bitter-SemiBold.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterSemiBoldItalic';
    src: url("../fonts/Bitter/static/Bitter-SemiBoldItalic.ttf");
    src: local("BitterSemiBoldItalic"),
         url("../fonts/Bitter/static/Bitter-SemiBoldItalic.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterThin';
    src: url("../fonts/Bitter/static/Bitter-Thin.ttf");
    src: local("BitterThin"),
         url("../fonts/Bitter/static/Bitter-Thin.ttf") format("truetype");
}
@font-face{
     font-family: 'BitterThinItalic';
    src: url("../fonts/Bitter/static/Bitter-ThinItalic.ttf");
    src: local("BitterThinItalic"),
         url("../fonts/Bitter/static/Bitter-ThinItalic.ttf") format("truetype");
}

// Be Vietnam Pro Font

@font-face{
    font-family: 'BeVietnamProRegular';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf");
    src: local("BeVietnamProRegular"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProMedium';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf");
    src: local("BeVietnamProMedium"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProLight';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf");
    src: local("BeVietnamProLight"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProBlack';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf");
    src: local("BeVietnamProBlack"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProBlackItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-BlackItalic.ttf");
    src: local("BeVietnamProBlackItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-BlackItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProBold';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf");
    src: local("BeVietnamProBold"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProBoldItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-BoldItalic.ttf");
    src: local("BeVietnamProBoldItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-BoldItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProExtraBold';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf");
    src: local("BeVietnamProExtraBold"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProExtraBoldItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBoldItalic.ttf");
    src: local("BeVietnamProExtraBoldItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBoldItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProExtraLight';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf");
    src: local("BeVietnamProExtraLight"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProExtraLightItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLightItalic.ttf");
    src: local("BeVietnamProExtraLightItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLightItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf");
    src: local("BeVietnamProItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProLightItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf");
    src: local("BeVietnamProLightItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProMediumItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-MediumItalic.ttf");
    src: local("BeVietnamProMediumItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-MediumItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProSemiBold';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf");
    src: local("BeVietnamProSemiBold"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProSemiBoldItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBoldItalic.ttf");
    src: local("BeVietnamProSemiBoldItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBoldItalic.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProThin';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf");
    src: local("BeVietnamProThin"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf") format("truetype");
}
@font-face{
    font-family: 'BeVietnamProThinItalic';
    src: url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf");
    src: local("BeVietnamProThinItalic"),
         url("../fonts/Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf") format("truetype");
}